kind: Service
apiVersion: v1
metadata:
    name: lqpdevtest-eks
    annotations:
      service.beta.kubernetes.io/aws-load-balancer-type: nlb
      service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: ip
      service.beta.kubernetes.io/aws-load-balancer-scheme: internet-facing
spec:
    selector:
        app: lqpdevtest-eks
    ports:
      - port: 8000
        targetPort: 8000
        protocol: TCP
    type: LoadBalancer
